* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin:0;padding:0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
body {
    direction: ltr;
    background: rgb(222,220,220);
    background: linear-gradient(180deg, rgba(222,220,220,1) 0%, rgba(255,255,255,1) 51%);      
}
.navbar-brand {
    padding-left:1em;
}
/* width */
::-webkit-scrollbar {
    width: 10px;direction: rtl;
}
 
/* button */
::-webkit-scrollbar-button {
    background: #fff;direction: rtl;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(250, 250, 250);direction: rtl;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc;direction: rtl;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #fff;direction: rtl;
}
 
/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
    background: #000;
}
 
/* Corner */
::-webkit-scrollbar-corner {
    background: #ccc;direction: rtl;
}
 
/* Resizer */
::-webkit-resizer {
    background: #ccc;direction: rtl;    
}

/* navbar side */
/* navbar side */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.75);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .fixed-top {
      z-index:99;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
 .sidenav .top-bar {
     position: absolute;
     top:0;
 }
.languages {
    padding:0;
    margin:0;
}
.languages a {
    margin-left:10px;
    padding:10px;
}
.closebtn {
    font-size:55px !important;
    padding:0 !important;
    margin-top:-20px !important;
    margin-right:10px !important;
}
.nav-link {
    font-size:32px;
    margin-right: 1em;
    padding-top:1em;
}
.navpadding {
    padding-top:5em;
}
/* navbar side */
/* navbar side */

.linea-right {
    position: absolute;
    right:0;
}
.bg-red {
    background:red;
}
.grey{
    filter:grayscale(100);
}
.nosotros-hold{
    transition: .5s ease-in-out;
    transform: scale(1);
    box-shadow: 0;
}
.nosotros-hold:hover {
    transition: .5s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.2);
}
/* first-content */
/* first-content */

.first-content {
    width:100%;
    height: 80vh;
 }
.bg-posible {
    background-image: url('../imgs/lohacemosposible.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.main-texts {
    padding-left: 8em;
}
.hacemos {
    padding-left:10em;
    padding-top:5em;
}
.mejor {
    padding-left:10em;
    padding-top:5em;
}
.main-text h1{
    font-size:65px;
    margin:0; padding:0; 
}
.main-text-2 h2 {
    font-size:26px;
    font-weight: 400;
}
.main-text-gray {
    color:#6F6F6E;
}
.main-text-blue {
    color:#1765DC;
}
.main-text-3 {
    color:#535352;
}
.bg-none {
    background:transparent;
}
.mt-15 {
    padding-top:15em;
}
.fixed-content {
    position: absolute;
    top:15em;
    left:20em;
    z-index: 100;
}
.fixed-content h1 {
    font-family: 'Raleway', sans-serif;
    font-size:4em;
    font-weight: bold;
}
.fixed-content p {
    font-family: 'Raleway', sans-serif;
}
#myVideo {
    width:100%;
    z-index: 20;
    overflow: hidden;
  }
.fixed-content-right {
    position: absolute;
    top:7em;
    right:0;
    z-index: 20;
}
.icon-download {
    width:200px;
    height: 75px;
    margin-right: 25px;
}
.w-05 {
    width: 11%;
}
.w-04 {
    display: inline-block;
    width:10%;
}

hr {
    border:1.5px solid black;
}
/* first-content */
/* first-content */
.wrap {
 width:100%;
position: relative;
}
/* second-content */
/* second-content */
.second-content {
    width:100%;
    height: 40vh;
}

.second2-content h2 {
    font-size:3em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.second2-content p {
    font-family: 'Raleway', sans-serif;
}

.box-rounded {
    border-radius: 50px;
    background:#F3F3F3;
    box-shadow: 3px 5px 3px 2px rgba(0,0,0,.1);
    width:350px;
    height: 350px;
    margin:0 auto;
}
.box-rounded p {
    font-size:1.3em;
}
/* second-content */
/* second-content */


/* download section */
.downloads {
    width:100%;
    height: 80vh;
    position: relative; 
}
.bg-ccc {
    background:#ccc;
    z-index: 10 !important;
}

.download-content {
    background:#ccc;
    z-index: 9;
}
.download-content h2 {
    font-family: 'Raleway', sans-serif;
    font-size:4em;
    font-weight: bold;
}
.download-content p {
    font-family: 'Raleway', sans-serif;
    font-size:1em;
    font-weight: 600;
    padding-top:1em;
}
.fixed-content-bottom {
    position: absolute;
    top:12em;
}
.fixed-content-download {
    position: absolute;
    top:0;
    z-index: 101;
    right:0;
}
.content-right {
    position: absolute;
    top:0;
    right:0;
}
/* download section */
/* footer section */
footer {
    width:100%;
    height: auto;
    font-weight: 500;
    z-index: 1000;
}
.bg-19 {
    background:#191919;
}
/* footer section */
/* z index */
.z-1 {
    z-index: 1 !important;
}
.z-10 {
    z-index: 10 !important;
}
.z-100 {
    z-index: 100 !important;
}
.z-1000 {
    z-index: 1000 !important;
}
/* navbar side */
/* navbar side */

.scroll {
    position: fixed;
    bottom:1em;
    right:1em;
    padding:2em;
    width:125px;
}
.image-container {
    width: 75px;
    height: 100%;
    position: fixed;
    top: 13em;
    left:3em;
    z-index: 10001;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../imgs/scroll/scroll-1.png');
  }
.cursor-pointer {
    cursor: pointer;
}
.z-10000 {
    z-index: 9999;
}
a{
    text-decoration: none;
    color:#191919;
}
a:hover {
    text-decoration: none;
    color:#545454;
}

.footer-mobile {
    display: none;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

  }
.nav-link img {
    display: none;
}
.nav-link:hover img {
    display: inline;
}
  /* navbar side */
/* navbar side */

/* sheltr page section  */

.sheltr {
    width:100%;
    padding-left:100px;
    padding-top:100px;
}
.text-sheltr {
    font-size:32px;
}
.muted {
    color:#818181;
}
.sheltr-h2 {
    font-size:66px;
    margin:0;padding:0;
}
.sheltr-p{
    padding-top:2em;
    font-size:24px;
}
.mision {
    background: #cacaca;
}
.mision-text {
    font-size:64px;
    padding-right: 1em;
}
.rounded-sheltr{
    border-radius: 1em;
    padding: 1em;
}
.vision {
    background:#e4e4e4;
}
.vision-text {
    font-size:64px;
    padding-right: 1em;
}
.tecnologia {
    background:#e4e4e4;
}
.brique {
    background: #cacaca;
}
.brique2 {
    background: #e4e4e4;
}
/* sheltr page section  */
/* proyecto page section */


.holder {
    position: relative;
  }
  .image {
    opacity: 1;
    display: block;
    width:  335px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .holder:hover .image {
    opacity: 0.3;
  }
  
  .holder:hover .middle {
    opacity: 1;
    background:rgba(0,0,0,.5);
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.indicators li {
    text-decoration: none;
    list-style: none;
}
.fullscreen {
    position: relative;
}
.fullscreen img {
    position: absolute;
    top:15px;
    right:15px;
    cursor: pointer;
    z-index: 999;
}
/* proyecto page section */




/* proyecto page section */


.funciones-text {
    font-size:36px;
}
.servicios-holder {
    position: relative;
    width:100%;
}
.servicios-holder img {
    position: relative;
    width:100%;
    height: 100%;
}
.text-servicios {
    position: absolute;
    bottom:1em;
    left:3em;
}

/* proyecto page section */

@media screen and (max-width:1440px){
    .download-content h2{
        font-size: 3em;
    }
    .fixed-content {
        left:8em;
        min-width: 70%;
    }
    .second2-content h2{
       font-size:4em;
    }
    .fixed-content-bottom {
        min-width: 75%;
    }
    .main-text h1 {
        font-size:54px;
    }
}
@media screen and (max-width: 1366px) {
    .fixed-content-bottom {
        min-width: 65%;
    }
    .text-sheltr {
        font-size:24px;
    }

    .sheltr-h2 {
        font-size:58px;
        margin:0;padding:0;
    }
    .sheltr-p{
        padding-top:2em;
        font-size:18px;
    }
    .mision-text {
        font-size:48px;
        padding-right: 1em;
    }
    .main-text h1 {
        font-size:50px;
    }
}
  @media screen and (max-width: 1024px){
    .fixed-content-right{
        top:5em;
        right:0;
    }
    .download-content{
        text-align: center;
        margin:0 auto;
    }
    .fixed-content {
        top:10em;
        left:0em;
        padding-left:2em;
    }
    .fixed-content-download{
        display: none;
    }
    .fixed-content-bottom{
        display: none;
    }
    .downloads{
        height: 45vh;
    }
    .scroll {
        display: none;
    }
    .sheltr{
        padding-left:100px;
        padding-top:100px;
    }
    .sheltr-h2{
        font-size:54px;
    }
    .mision-text{
        font-size: 32px;
    }
    .vision-text{
        font-size:32px;
    }
    .download-content h2{
        font-size: 2em;
    }
    .fixed-content h1 {
        font-size: 2em;
    }
    .second2-content h2 {
        font-size:2em;
    }

    .second2-content{
        padding-left: 3em;
        height: auto;
    }
    
    .main-text h1 {
        font-size:48px;
    }
  }
  @media all and (max-width:580px) {

    .mobile-flex {
        display: block;
    }
    
    .sheltr{
        padding-left:100px;
        padding-top:100px;
    }
    .main-text h1 {
        font-size:42px;
    }
    .main-text-2 h2 {
        font-size:22px;
    }
    .main-texts {
        padding:0;
    }
    .hacemos {
        padding:0;
    }
    .mejor {
        padding:0;
    }
  }
  @media all and (max-width: 560px) {

    .servicios-holder img {
        width:100%;
        height: 100%;
    }
    .fixed-content {
        top:8em;
        left:0;
        padding-left:2em;
    }
    .fixed-content h1 {
        font-size:2.5em;
    }
    .fixed-content p {
        font-size:.85em;
    }
    #myVideo {
        min-width: auto;
        min-height: auto;
        overflow: hidden;
    }
    .fixed-content-download{
        display: none;
    }
    .second-content {
        height: 70vh;
    }
    .second2-content{
        padding-left: 3em;
        height: auto;
    }
    .second2-content h2{
        font-size:3em;
     }
     .mobile-flex {
         display:none;
     }
     .footer-mobile {
         display: block;
     }
     .icon-download {
        margin-right: 0;
        width:145px;
        height: 45px;
        padding-right: 10px;
    }
    
    .sheltr{
        padding-left:25px;
        padding-top:75px;
    }
  }